
.monitor.sh.swp
.wordpress2.sh.swm
.wordpress4.sh.swp
1
abc.txt
apt.gpg
cpu_usge.sh
docker.sh
example.sh
lemp.sh
monitor.sh
monitor_orignal.sh
mysql.sh
nohup.out
q
ram.txt
swap_enable.sh
wordpress.sh
.gitignore
